<p id="notice"><%= notice %></p>

<h1>Adventures</h1>

<%= link_to 'New Adventure', new_adventure_path %>

<% @adventures.each do |adventure| %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Location</th>
      <th>Visit</th>
      <th class="no-border"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= adventure.name %></td>
        <td><%= adventure.description %></td>
        <td><img src="<%= adventure.picture %>" alt="<%= adventure.name %>" /></td>
        <td><%= adventure.location %></td>
        <td><%= adventure.visit %></td>
        <td class="crud-menu">
          <%= link_to 'Show', adventure %>
          <%= link_to 'Edit', edit_adventure_path(adventure) %>
          <%= link_to 'Destroy', adventure, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  </tbody>
</table>
<br>
<br>
<% end %>
